@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: black;
  color: white;
}

@layer base {
    p {
        @apply text-body-1;
    }
}

@layer components {
  .text-display {
    @apply text-[4rem] lg:text-[5rem] font-bold font-sans leading-none; /* 80px */
  }
  .text-body-1 {
    @apply text-base font-normal font-sans; /* 20px */
  }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
